---
import { siteName, siteDescription } from '@/lib/constants'
import Layout from '@/layouts/Layout.astro'
import Marquee from '@/components/Marquee.astro'
import Navbar from '@/components/Navbar.astro'
import Quiz from '@/components/Quiz.svelte'

const title = `Gift Finder | ${siteName}`
const description = siteDescription
---

<Layout title={title} description={description}>
  <div class="relative">
    <Navbar active={'/quiz'} />
    <Marquee>
      <p class="text-3xl">
        &nbsp;{description}&nbsp;{description}&nbsp;{description}&nbsp;{description}
      </p>
    </Marquee>
    <Quiz client:load />
  </div>
</Layout>
