---
import { siteName } from '@/lib/constants'
import Layout from '@/layouts/Layout.astro'
import Marquee from '@/components/Marquee.astro'
import Navbar from '@/components/Navbar.astro'
import SurveyComponent from '@/components/Survey.svelte'

const title = `Gift Finder | ${siteName}`
const description =
  'Find the perfect gift for yourself or your fellow brother by answering a few simple questions.'
---

<Layout title={title} description={description}>
  <div class="relative">
    <Navbar active={'/survey'} />
    <Marquee>
      <p class="text-3xl">
        {description}&nbsp;{description}&nbsp;{description}&nbsp;{description}&nbsp;{
          description
        }&nbsp;{description}
      </p>
    </Marquee>
    <SurveyComponent client:load />
  </div>
</Layout>
